################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroService
/src/ApiGateways/WebApiGateway/bin/Debug/net6.0
/src/ApiGateways/WebApiGateway/obj
/src/BuildingBlocks/EventBus/EventBus.Base/bin/Debug/net6.0
/src/BuildingBlocks/EventBus/EventBus.Base/obj
/src/BuildingBlocks/EventBus/EventBus.Factory/bin/Debug/net6.0
/src/BuildingBlocks/EventBus/EventBus.Factory/obj
/src/BuildingBlocks/EventBus/EventBus.RabbitMQ/bin/Debug/net6.0
/src/BuildingBlocks/EventBus/EventBus.RabbitMQ/obj
/src/Services/ContactService/ContactService.Api/bin/Debug/net6.0
/src/Services/ContactService/ContactService.Api/obj
/src/Services/ContactService/ContactService.Application/bin/Debug/net6.0
/src/Services/ContactService/ContactService.Application/obj
/src/Services/ContactService/ContactService.Domain/bin/Debug/net6.0
/src/Services/ContactService/ContactService.Domain/obj
/src/Services/ContactService/ContactService.Infrastructure/bin/Debug/net6.0
/src/Services/ContactService/ContactService.Infrastructure/obj
/src/Services/ReportService/ReportService.Api/bin/Debug/net6.0
/src/Services/ReportService/ReportService.Api/obj
/ServiceUrls.txt
/src/ApiGateways/WebApiGateway/bin/Release/net6.0
/src/BuildingBlocks/EventBus/EventBus.Base/bin/Release/net6.0
/src/BuildingBlocks/EventBus/EventBus.Factory/bin/Release/net6.0
/src/BuildingBlocks/EventBus/EventBus.RabbitMQ/bin/Release/net6.0
/src/Services/ContactService/ContactService.Api/bin/Release/net6.0
/src/Services/ContactService/ContactService.Application/bin/Release/net6.0
/src/Services/ContactService/ContactService.Domain/bin/Release/net6.0
/src/Services/ContactService/ContactService.Infrastructure/bin/Release/net6.0
/src/Services/ReportService/ReportService.Api/bin/Release/net6.0
